<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>NewsCabinet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
	<context-param>
		<param-name>JDBCUrl</param-name>
		<param-value>jdbc:mysql://220.69.171.47:3306/newscabinet</param-value>
	</context-param>
	<context-param>
		<param-name>DBuser</param-name>
		<param-value>newscabinet</param-value>
	</context-param>
	<context-param>
		<param-name>DBpasswd</param-name>
		<param-value>sbtmzpqlspt</param-value>
	</context-param>
	<context-param>
		<param-name>DBTimeZone</param-name>
		<param-value>UTC</param-value>
	</context-param>
	<context-param>
		<param-name>NaverAPIUrl</param-name>
		<param-value>https://openapi.naver.com/v1/search/news.xml</param-value>
	</context-param>
		<context-param>
		<param-name>X-Naver-Client-Id</param-name>
		<param-value>4yLmXTTODB7_vZu1gBt0</param-value>
	</context-param>
		<context-param>
		<param-name>X-Naver-Client-Secret</param-name>
		<param-value>89otjYHreJ</param-value>
	</context-param>
</web-app>